* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #20EB8F ;
    --secondary-color:#2132E6 ;
    --tertiary-color:#DBF0F2 ;
    --fourthary-color: ;
    --firthary-color:#F08013 ;
}

body {
    background-color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: var(--firthary-color);
    text-shadow: 0 10px 20px rgba(0, 0 , 0, 0.8);
    background-color: var(--primary-color) ;
    width: 25%;
    margin: 5px 50px 5px 0;
    text-align: right;
    padding: 10px 15px 10px 10px;
    border-radius: 10px 15px;
    font-style:italic;

}

header nav ul {
    list-style: none;
    border-bottom: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:flex-start;
    padding: 30px 15px 15px 10px;
    width: 800px;
    font-size: 20px;
    color: var(--primary-color);   
}

header li {
    border-bottom: 5px solid var(--primary-color);
    padding-right: 20px;
}

.hero {
    background-image: url(../assets/images/hero-banner.jpg);
    height: 270px;
}

.label {
    width:15%;
    border-right: 5px solid var(--firthary-color);
    margin:0;
    padding-left: 90px;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

}
section h2 {
    color: var(--secondary-color);
    padding: 30px;
    width: 20%;
}

.contact {
    width: 85%;
}
.contact ul {
    padding: 40px 20px 0px 20px;

    list-style: none;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact li {
    border-bottom: 2px solid var(--primary-color);
    padding-right: 10px;
}